
.custom-gradient {
    background: linear-gradient(to right, #f1f5f9, #e2e8f0, #f1f5f9);
  }
.navbar-logo {
    width: 40px;
    height: auto; 
    margin-right: 10px; 
  }
  

  .font-color-white {
    color: white;
  }
  