@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins";
}
.header {
  width: 100%;
  position: fixed; /* Make the navbar stick to the top */
  top: 0;
  left:0;
  z-index: 1000; /* Ensures it stays above other content */
  background-color: #f8f9fa; /* Set a background color (can adjust to match your theme) */
}


main {
  padding-top: 60px; 
  
}
